<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4889ebf4-71d7-4975-bddb-04ca9b5fcdc8" Alias="Home - My Property Editor - My Property Editor" Level="1">
  <Info>
    <Name>Home - My Property Editor - My Property Editor</Name>
    <EditorAlias>My.PropertyEditor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>